<article class="post-card">
  <a class="post-view" href="/post/{{id}}">{{title}}</a>
  <span style="float-right" class="post-owner">Posted by {{user.username}} on {{format_date created_at}}</span></br>
  <span style="float-right">{{comments.length}} {{format_plural "comment" {{comments.length}}</span>
  <div>
    <p class="post-p">{{content}}</p>
  </div>
</article>